@import url(../styles/global.css);

.cosmetic-dentistry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: white;
  border-radius: 2rem;
  padding: 5rem 20rem;
  animation: fadeUp 0.8s ease forwards;
}

.cosmetic-dentistry-header {
  font-size: 2rem;
}

.cosmetic-dentistry-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.cosmetic-dentistry-services ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.cosmetic-dentistry-services ul li {
  font-size: 2rem;
  list-style: disc;
}

.about-cosmetic-dentistry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about-cosmetic-dentistry-header {
  font-size: 2rem;
  font-weight: 600;
}

.about-cosmetic-dentistry-p {
  font-size: 2rem;
  width: 100rem;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 40%;
  }
  .cosmetic-dentistry-container {
    padding: 5rem 10rem;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 40%;
  }
  .cosmetic-dentistry-container {
    padding: 5rem 8rem;
  }
  .cosmetic-dentistry-content ul {
    gap: 0rem;
  }
  .cosmetic-dentistry-img {
    width: 100%;
    max-width: 50rem;
  }

  .cosmetic-dentistry-services ul li {
    font-size: 2rem;
    list-style: disc;
  }

  .cosmetic-dentistry-content {
    gap: 10rem;
  }

  .about-cosmetic-dentistry-p {
    font-size: 2rem;
    width: 80rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 30%;
  }
  .cosmetic-dentistry-container {
    padding: 5rem 5rem;
  }
  .cosmetic-dentistry-services ul {
    gap: 0rem;
  }

  .cosmetic-dentistry-content {
    gap: 8rem;
  }

  .about-cosmetic-dentistry-p {
    font-size: 2rem;
    width: 60rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
  .cosmetic-dentistry-container {
    padding: 5rem 3rem;
  }
  .about-cosmetic-dentistry-p {
    font-size: 2rem;
    width: 70rem;
  }
  .cosmetic-dentistry-services ul li {
    list-style: disc;
    font-size: 1.5rem;
  }
}
